#Make sure ot move this file to the correct location in /etc/systemd/system/lxmfbot.service
[Unit]
Description=LXMF Community Mesh Bot
Wants=network-online.target reticulum.service
After=network-online.target reticulum.service
Requires=reticulum.service

[Service]
Type=simple
User=penguin
WorkingDirectory=/home/penguin/github.com/JamesM92/LXMF_Bot
ExecStart=/home/penguin/github.com/JamesM92/LXMF_Bot/.venv/bin/python3 /home/penguin/github.com/JamesM92/LXMF_Bot/src/lxmfbot.py
Restart=on-failure
RestartSec=10

# Optional but recommended for stability
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
